<nav class="bg-white p-5 fixed top-0 left-0 right-0 border-2 flex flex-wrap justify-between">
    <div class="flex flex-wrap">
        <span class=" text-blue-500 text-3xl p-5 font-bold font-sans">CHub!</span>


        <ul class="md:flex mt-5">
            <li class="mx-4 text-black cursor-pointer px-4 py-2 rounded font-bold hover:underline"><a
                    href="{% url 'index' %}">Home</a></li>
            <li class="mx-2 text-black cursor-pointer px-4 py-2 rounded font-bold dropdown hover:underline">
                <span>Jobs</span>
                <div class="dropdown-content bg-white mt-4 mx-4 p-2 px-8">
                    <a href="{% url 'login' %}">FrontEnd developers</a><br>
                    <a href="{% url 'login' %}">BackEnd developers</a><br>
                    <a href="{% url 'login' %}">Data Analyst</a><br>
                    <a href="{% url 'login' %}">Human Resources</a><br>
                    <a href="{% url 'login' %}">Sales Manager</a>
                </div>
            </li>

            <li class="mx-2 text-black cursor-pointer px-4 py-2 rounded font-bold dropdown hover:underline">
                <span>Freelancers</span>
                <div class="dropdown-content bg-white mt-4 mx-4 p-2 px-8">
                    <a href="{% url 'graphic' %}">Graphic Designer</a><br>
                    <a href="{% url 'back' %}">BackEnd developers</a><br>
                    <a href="{% url 'analyst' %}">Data Analyst</a><br>
                    <a href="{% url 'frontend' %}">frontend developers</a><br></div></li>
            <!-- <li class="mx-2 text-black  cursor-pointer px-4 py-2 rounded font-bold hover:underline"><a href="{% url 'freelance' %}">Freelancers</a></li> -->
            <li class="mx-2 text-black  cursor-pointer px-4 py-2 rounded font-bold hover:underline"><a href="{% url 'login' %}">Business</a></li>
            <li class="mx-2 text-black  cursor-pointer px-4 py-2 rounded font-bold hover:underline"><a href="#discover">Discover</a></li>
        </ul>
    </div>
    <div class="flex flex-wrap">
        <ul class="md:flex md:items-center">
            {% if user.is_authenticated %}
                <button class="bg-white text-blue-500 border-2 border-blue-500 rounded-full px-4 p-2 hover:shadow-xl hover:mb-2">
                  <a href="{% url 'logout' %}">log out</a>
                </button>
            {% else %}
            <button class="bg-white text-blue-500 border-2 border-blue-500 rounded-full px-4 p-2 hover:shadow-xl hover:mb-2">
                <a href="{% url 'login' %}">log in</a>
              </button>
          {% endif %}
          <button
            class="bg-blue-500 text-white border-2 border-blue-500 rounded-full px-4 p-2 mx-8 hover:shadow-xl hover:mb-2"><a
              href="{% url 'register' %}">sign up</a></button>
            <button
              class="bg-green-500 text-white border-2 border-green-500 rounded-full px-4 p-2 hover:shadow-xl hover:mb-2"><a
                href="{% url 'contact' %}">Contact</a></button>
    
        </ul>
    </div>
</nav>